 <!--
@{ 
    Layout = "_Layout"; 
} 
 
<!DOCTYPE html> 
 
<html> 
<head> 
    <meta name="viewport" content="width=device-width" /> 
    <title>คาดการณ์รายได้ในเดือนถัดไป</title> 
</head> 
<body> 
    <div class="main-panel"> 
        <div class="content-wrapper"> 
            <div class="col-12 grid-margin"> 
                <div class="card"> 
                    <div class="card-body"> 
 
                        @if (ViewBag.ExtrapolateDorm != 0) 
                        { 
                            <h1>คาดการณ์รายได้เดือนหน้าของหอพัก : @ViewBag.Dorm_Name</h1> 
                            <br /> 
                            <h1>รายได้ขั้นต่ำที่ควรได้ = @string.Format("{0:#,#.}", ViewBag.ExtrapolateDorm) บาท</h1> 
                        } 
                        else 
                        { 
                            <h1>Fail</h1> 
                        } 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
</body> 
</html> 

-->

@{
Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <script src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>รายได้ย้อนหลัง</title>
    <meta charset="utf-8">
</head>

<body>
    <div class="main-panel">

        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card card-weather">
                        <div class="card-body">
                            <h2 class="text-center">หอพัก : @ViewBag.Dorm_Name</h2>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-lg-5 grid-margin stretch-card">
                    <div class="card  card-weather">
                        <div class="card-body ">
                           <div class="clearfix"> 
                               <div class="float-left mt-2"> 
                                   <i class="mb-5 mdi mdi-48px mdi-account-card-details text-success icon-lg"></i> 
                                   <br><Br> 
                                   @foreach (var r in ViewBag.RoomUpdate) 
                                   { 
                                       <p class="mt-3 h3 text-danger ">ห้อง @r.Type</p> 
                                   } 
                               </div> 
                                
                                <div class="float-right"> 
                                    <p class="mb-0 h2 text-right">จำนวนผู้เช่า</p> 
                                    <div class="fluid-container"> 
                                        <h3 id="Renter" class="h1 text-success text-right mb-0">@ViewBag.RenterCount</h3> 
                                        <p class=" h3 text-right">คน</p> 
                                        @foreach (var r in ViewBag.RoomUpdate) 
                                        { 
                                        <p class="mt-3 h3 text-danger text-right">@r.Count ห้อง</p> 
                                        } 
 
                                    </div> 
                                </div> 
                            </div> 
                             <div class="progress mt-2">
                                        <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar"
                                            style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                             </div>
                            <p class="text-white h5 mt-3 mb-0"> 
                                <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> ข้อมูลล่าสุด 
                                  </p> 
                            <p id="renter1update" class="text-white h5 "> 
                            </p> 

                        </div>
                    </div>
                </div>

                <div class="col-lg-7 grid-margin stretch-card">
                    <div class="card card-weather">
                        <div class="card-body">
                            <p class="mb-3 h1 text-center">รายได้ที่จะได้รับอย่างน้อย </p> <br>
                            <p class="mt-0 hb text-primary text-center">@string.Format("{0:#,#.}", ViewBag.ExtrapolateDorm) ฿ </p> 

                        </div>
                    </div>
                </div>      

            </div>

            <div class="row">
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body ">
                                 <!-- กราฟไฟ-->
                            <div id="chart-elec">
                            </div> 
                                <div class="progress">
                                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                                        style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                                 <!-- น้ำ-->
                           <div id="chart-water"></div> 
                                    <div class="progress">
                                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                                            style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>    
            </div>
           
           

        </div>
    </div>
  
    



</body>

</html>

<script> 
 
 
    const water = { 
    "chart": { 
    "caption": "ปริมาณการใช้น้ำ",
    "yaxisname": "จำนวนยูนิต",
    "xaxisname": "เดือน",
    "showhovereffect": "1",
    "drawcrossline": "1",
    "baseFont": "'Kanit', sans-serif", 
    "baseFontSize": "14", 
    "labelFont": "'Kanit', sans-serif", 
    "legendItemFont": "'Kanit', sans-serif",
    "plottooltext": "เดือน <b>$label</b> ใช้ไป <b>$Value</b> ยูนิต",
    "theme": "fusion"
 
                }, 
        "data": [@foreach(var w in ViewBag.Unit) 
                { 
                    if(w.Month == "1") 
                    { 
                        <text> 
                        { 
                            "label": "มกราคม", 
                            "value": "@w.Water" 
                        }, 
                        </text> 
                    }else if(w.Month == "2") 
                    { 
                        <text> 
                        { 
                            "label": "กุมภาพันธ์", 
                            "value": "@w.Water" 
                        }, 
                        </text> 
                    }else if(w.Month == "3") 
                    { 
                        <text> 
                        { 
                            "label": "มีนาคม", 
                            "value": "@w.Water" 
                        }, 
                        </text> 
                    }else if(w.Month == "4") 
                    { 
                        <text> 
                        { 
                            "label": "เมษายน", 
                            "value": "@w.Water" 
                        }, 
                        </text> 
                    }else if(w.Month == "5") 
                    { 
                        <text> 
                        { 
                            "label": "พฤษภาคม", 
                            "value": "@w.Water" 
                        }, 
                        </text> 
                    }else if(w.Month == "6") 
                    { 
                        <text> 
                        { 
                            "label": "มิถุนายน", 
                            "value": "@w.Water" 
                        }, 
                        </text> 
                    }else if(w.Month == "8") 
                    { 
                        <text> 
                        { 
                            "label": "สิงหาคม", 
                            "value": "@w.Water" 
                        }, 
                        </text> 
                    }else if(w.Month == "9") 
                    { 
                        <text> 
                        { 
                            "label": "กันยายน", 
                            "value": "@w.Water" 
                        }, 
                        </text> 
                    }else if(w.Month == "10") 
                    { 
                        <text> 
                        { 
                            "label": "ตุลาคม", 
                            "value": "@w.Water" 
                        }, 
                        </text> 
                    }else if(w.Month == "11") 
                    { 
                        <text> 
                        { 
                            "label": "พฤศจิกายน", 
                            "value": "@w.Water" 
                        }, 
                        </text> 
                    }else if(w.Month == "12") 
                    { 
                        <text> 
                        { 
                            "label": "ธันวาคม", 
                            "value": "@w.Water" 
                        }, 
                        </text> 
                    } 
                } 
                ] 
 
    } 
 
    FusionCharts.ready(function () { 
        var circle = new FusionCharts({ 
            type: "line", 
            renderAt: "chart-water", 
            width: "100%", 
            height: "400", 
            dataFormat: "json", 
            dataSource : water 
        }).render(); 
    }); 
 
 
  
 
 const elec = {
  "chart": {
    "caption": "ปริมาณการใช้ไฟ",
    "yaxisname": "จำนวนยูนิต",
    "xaxisname": "เดือน",
    "showhovereffect": "1",
    "drawcrossline": "1",
    "baseFont": "'Kanit', sans-serif", 
    "baseFontSize": "14", 
    "labelFont": "'Kanit', sans-serif", 
    "legendItemFont": "'Kanit', sans-serif",
    "plottooltext": "เดือน <b>$label</b> ใช้ไป <b>$Value</b> ยูนิต",
    "theme": "fusion"
  },
  "data": [@foreach(var e in ViewBag.Unit) 
                { 
                    if(e.Month == "1") 
                    { 
                        <text> 
                        { 
                            "label": "มกราคม", 
                            "value": "@e.Elec" 
                        }, 
                        </text> 
                    }else if(e.Month == "2") 
                    { 
                        <text> 
                        { 
                            "label": "กุมภาพันธ์", 
                            "value": "@e.Elec" 
                        }, 
                        </text> 
                    }else if(e.Month == "3") 
                    { 
                        <text> 
                        { 
                            "label": "มีนาคม", 
                            "value": "@e.Elec" 
                        }, 
                        </text> 
                    }else if(e.Month == "4") 
                    { 
                        <text> 
                        { 
                            "label": "เมษายน", 
                            "value": "@e.Elec" 
                        }, 
                        </text> 
                    }else if(e.Month == "5") 
                    { 
                        <text> 
                        { 
                            "label": "พฤษภาคม", 
                            "value": "@e.Elec" 
                        }, 
                        </text> 
                    }else if(e.Month == "6") 
                    { 
                        <text> 
                        { 
                            "label": "มิถุนายน", 
                            "value": "@e.Elec" 
                        }, 
                        </text> 
                    }else if(e.Month == "8") 
                    { 
                        <text> 
                        { 
                            "label": "สิงหาคม", 
                            "value": "@e.Elec" 
                        }, 
                        </text> 
                    }else if(e.Month == "9") 
                    { 
                        <text> 
                        { 
                            "label": "กันยายน", 
                            "value": "@e.Elec" 
                        }, 
                        </text> 
                    }else if(e.Month == "10") 
                    { 
                        <text> 
                        { 
                            "label": "ตุลาคม", 
                            "value": "@e.Elec" 
                        }, 
                        </text> 
                    }else if(e.Month == "11") 
                    { 
                        <text> 
                        { 
                            "label": "พฤศจิกายน", 
                            "value": "@e.Elec" 
                        }, 
                        </text> 
                    }else if(e.Month == "12") 
                    { 
                        <text> 
                        { 
                            "label": "ธันวาคม", 
                            "value": "@e.Elec" 
                        }, 
                        </text> 
                    } 
                }
  ]
};

FusionCharts.ready(function() {
   var myChart = new FusionCharts({
      type: "line",
      renderAt: "chart-elec",
      width: "100%",
      height: "400",
      dataFormat: "json",
      dataSource: elec
   }).render();
});
 
</script>
