@{ 
    Layout = "_Layout";
} 
 
<!DOCTYPE html> 
 
<html> 
<head> 
    <script src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script> 
    <script src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script> 
    <meta name="viewport" content="width=device-width" /> 
    <title>รายได้ย้อนหลัง</title> 
    <meta charset="utf-8"></head> 
<body> 
   
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-8 grid-margin stretch-card">
                    
                        <div class="card ">
                            <div class="card-body">
                                <div id="chart-container"></div>

                            </div>
                        </div>
                 </div>

                  <div class="col-lg-4 grid-margin stretch-card">
                    
                        <div class="card ">
                            <div class="card-body">
                             <h1>ส่งออกไฟล์</h1>

                            </div>
                        </div>
                 </div>

            </div>
        </div> 
    <input type="hidden" id="test1" value="@ViewBag.DormName" /> 
 
 
</body> 
</html>
<script> 
    var dname = $("#test1").val(); 
    
    const dataSource = { 
        "chart": { 
            "caption": "ข้อมูลรายได้ย้อนหลัง : " + dname, 
            "xaxisname": "เดือน", 
            "yaxisname": "รายได้", 
            "formatnumberscale": "1", 
            "plottooltext": "<b>$dataValue</b> ข้อมูลรายได้ของหอ </b> $seriesname", 
            "theme": "fusion", 
            "drawcrossline": "1", 
            "baseFont": "'Kanit', sans-serif", 
            "baseFontSize": "14", 
            "baseFontColor": "#0066cc", 
            "chartLeftMargin": "25", 
            "chartTopMargin": "40", 
            "chartRightMargin": "40", 
            "chartBottomMargin": "40", 
            "plotHighlightEffect": "fadeout|color=#7f7f7f, alpha=60", 
            "legendItemFontSize": "15", 
            "legendItemFont": "'Kanit', sans-serif" 
 
        }, 
        "categories": [ 
            { 
                "category": [ 
                                     @foreach (var income in ViewBag.GetIncome) 
                 { 
                     var year = income.Year; 
 
                     if (income.Month == "1") 
                     { 
                         <text> 
                            { 
                                "label" : "ม.ค. ปี @year" 
                            }, 
                        </text> 
                     } else if (income.Month == "2") 
                     { 
                         <text> 
                            { 
                                "label" : "ก.พ. ปี @year" 
                            }, 
                        </text> 
                     } else if (income.Month == "3") 
                     { 
                         <text> 
                            { 
                                "label" : "มี.ค. ปี @year" 
                            }, 
                        </text> 
                     } else if (income.Month == "4") 
                     { 
                         <text> 
                            { 
                                "label" : "เม.ย. ปี @year" 
                            }, 
                        </text> 
                     } else if (income.Month == "5") 
                     { 
                         <text> 
                            { 
                                "label" : "พ.ค. ปี @year" 
                            }, 
                        </text> 
                     } else if (income.Month == "6") 
                     { 
                         <text> 
                            { 
                                "label" : "มิ.ย. ปี @year" 
                            }, 
                        </text> 
                     } else if (income.Month == "7") 
                     { 
                         <text> 
                            { 
                                "label" : "ก.ค. ปี @year" 
                            }, 
                        </text> 
                     } else if (income.Month == "8") 
                     { 
                         <text> 
                            { 
                                "label" : "ส.ค. ปี @year" 
                            }, 
                        </text> 
                     } else if (income.Month == "9") 
                     { 
                         <text> 
                            { 
                                "label" : "ก.ย. ปี @year" 
                            }, 
                        </text> 
                     } else if (income.Month == "10") 
                     { 
                         <text> 
                            { 
                                "label" : "ต.ค. ปี @year" 
                            }, 
                        </text> 
                     } else if (income.Month == "11") 
                     { 
                         <text> 
                            { 
                                "label" : "พ.ย. ปี @year" 
                            }, 
                        </text> 
                     } else if (income.Month == "12") 
                     { 
                         <text> 
                            { 
                                "label" : "ธ.ค. ปี @year" 
                            }, 
                        </text> 
                     } 
                 } 
 
                ] 
            } 
        ], 
        "dataset": [ 
            { 
                "seriesname": dname, 
                "data": [ 
                    @foreach(var income in ViewBag.GetIncome) 
                        { 
                            <text> 
                                { 
                                    "value" : "@income.Amount" 
                                }, 
                            </text> 
                        } 
                ] 
            } 
        ] 
    }; 
 
    FusionCharts.ready(function () { 
        var myChart = new FusionCharts({ 
            type: "mscolumn2d", 
            renderAt: "chart-container", 
            width: "100%", 
            height: "500", 
            dataFormat: "json", 
            dataSource 
        }).render(); 
    }); 
    

</script>