 
@{ 
    Layout = "_Layout";
} 
 
<!DOCTYPE html> 
 
<html> 
<head> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <meta name="viewport" content="width=device-width" /> 
    <title>รายได้ย้อนหลัง</title> 
    <meta charset="utf-8"> 
</head> 
<body> 
    <div class="main-panel"> 
        <div class="content-wrapper"> 
            <div class="col-12 grid-margin"> 
                <div class="card">                   
                      <canvas id="myChart"></canvas> 
                </div> 
            </div> 
        
        </div> 
    </div> 
     
</body> 
</html> 

<script> 
     var ctx = document.getElementById("myChart"); 
     var myChart = new Chart(ctx, { 
         type: 'bar', 
         data: { 
             labels: [ 
                 @foreach(var income in ViewBag.GetIncome) 
                 { 
                     var year = income.Year; 
 
                     if (income.Month == "1") 
                     { 
                         <text> 
                 "ม.ค. ปี @year", 
                        </text> 
                     }else if(income.Month == "2") 
                     { 
                         <text> 
                 "ก.พ. ปี @year", 
                        </text> 
                     }else if(income.Month == "3") 
                     { 
                         <text> 
                 "มี.ค. ปี @year", 
                        </text> 
                     }else if(income.Month == "4") 
                     { 
                         <text> 
                 "เม.ย. ปี @year", 
                        </text> 
                     }else if(income.Month == "5") 
                     { 
                         <text> 
                 "พ.ค. ปี @year", 
                        </text> 
                     }else if(income.Month == "6") 
                     { 
                         <text> 
                 "มิ.ย. ปี @year", 
                        </text> 
                     }else if(income.Month == "7") 
                     { 
                         <text> 
                 "ก.ค. ปี @year", 
                        </text> 
                     }else if(income.Month == "8") 
                     { 
                         <text> 
                 "ส.ค. ปี @year", 
                        </text> 
                     }else if(income.Month == "9") 
                     { 
                         <text> 
                 "ก.ย. ปี @year", 
                        </text> 
                     }else if(income.Month == "10") 
                     { 
                         <text> 
                 "ต.ค. ปี @year", 
                        </text> 
                     }else if(income.Month == "11") 
                     { 
                         <text> 
                 "พ.ย. ปี @year", 
                        </text> 
                     }else if(income.Month == "12") 
                     { 
                         <text> 
                 "ธ.ค. ปี @year", 
                        </text> 
                     } 
                 } 
             ], 
             datasets: [{ 
                 label: '@ViewBag.Dorm_Name', 
                 data: [ 
                     @foreach(var income in ViewBag.GetIncome) 
                        { 
                            @income.Amount; 
                        } 
                 ], 
                 backgroundColor: 'rgba(0, 128, 207, 0.4)', 
                 borderWidth: 1, 
                 fill: true 
             }] 
         }, 
         options: { 
             scales: { 
                 yAxes: [{ 
                     ticks: { 
                         beginAtZero: true 
                     } 
                 }] 
             } 
         } 
     }); 
</script>